[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "defineOptions"]
	path = defineOptions
	url = https://github.com/niceume/defineoptions
[submodule "timeDF"]
	path = timeDF
	url = https://github.com/niceume/timedf
